:root {
  --clappy-dark-green: #536c3f;
  --clappy-light-green: #d7e999;
  --clappy-less-light-green: #cce677;
  --clappy-darker-green: #394a2c;
  --clappy-light-grey: #91ad7b;
  --clappy-dark-grey: #7b8a6e;
  --clappy-uncertain-grey: #e0e0e0;
}

.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  color: #536c3f;
}

.title {
  margin-bottom: 10px;
}

.navLinks-wrapper {
  background-color: var(--clappy-light-green);
  border-bottom: 1px solid var(--clappy-dark-green);
}

.navLinks {
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* This spaces the content to opposite ends */
  align-items: center;
  padding: 10px 20px;
}

.navButtons {
  display: flex;
  gap: 16px;
}

.navLink {
  height: 20px;
  width: 129px;
  text-align: center;
  padding: 10px 16px;
  font-size: 15px;
  border-right: 5px solid var(--clappy-dark-green);
  border-bottom: 5px solid var(--clappy-dark-green);
  border-top: 2px solid var(--clappy-dark-green);
  border-left: 2px solid var(--clappy-dark-green);
  font-weight: 500;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--clappy-light-green);
  display: flex;
  gap: 8px;
  align-items: center;
}

.navLink:hover {
  background-color: var(--clappy-less-light-green);
}

.navLink-active {
  background-color: var(--clappy-less-light-green);
  font-weight: bold;
}

.analytics-range-select {
  height: 46.4px;
  width: 160px;
  text-align: center;
  padding: 10px 16px;
  font-size: 15px;
  border-right: 5px solid var(--clappy-dark-green);
  border-bottom: 5px solid var(--clappy-dark-green);
  border-top: 2px solid var(--clappy-dark-green);
  border-left: 2px solid var(--clappy-dark-green);
  font-weight: 700;
  color: var(--clappy-dark-green);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 7px;
  cursor: pointer;
  background-color: #f9ffeb;
  display: flex;
  gap: 8px;
  align-items: center;
}

.link {
  color: #536c3f;
  text-decoration: underline;
  margin: 0 5px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  padding: 14px 20px;
  background-color: #d7e999;
}

.label {
  margin-right: 20px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.dayContainer {
  margin-bottom: 20px;
}

.dayHeader {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.estimation {
  color: var(--clappy-dark-green);
  margin-left: 10px;
}

.segment {
  height: 100%;
  cursor: pointer;
}

.legend-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 8px 20px;
  margin-bottom: 20px;
  font-size: 14px;
  width: 100%;
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 2px;
}

.color-box {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 4px;
}

.legend-text {
  font-weight: 600;
  /* lol */
  background-color: white !important;
}

.very-productive {
  background-color: #4caf50;
  color: #4caf50;
}

.productive {
  background-color: #81c784;
  color: #81c784;
}

.somewhat-productive {
  background-color: #ffc107;
  color: #ffc107;
}

.uncertain {
  background-color: #bdbdbd;
  color: #bdbdbd;
}

.not-productive {
  background-color: #e57373;
  color: #e57373;
}

.statCheckbox {
  margin-right: 10px;
  background-color: #536c3f;
}

label {
  display: flex;
  align-items: center;
}

.analytics-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.analytics-range-select:focus {
  outline: none;
}

.analytics-range-select:hover {
  background-color: white;
}

.graph-container,
.table-container {
  padding: 20px;
}

.timeline-container {
  padding: 20px 30px;
}

tr > td {
  padding: 10px 6px;
  border-bottom: 1px solid var(--clappy-light-green);
  text-align: center;
  font-weight: 500;
}

tr > td > * {
  font-weight: 500;
}

.productivitySegments {
  width: 100%;
  text-align: right;
}

.productivitySegments > * {
  font-weight: normal;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  margin-left: 20px;
}

.statCheckbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.statCheckbox + label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
}

.statCheckbox + label::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid var(--clappy-dark-green);
  background: var(--clappy-light-green);
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.statCheckbox:hover + label::before {
  background: var(--clappy-less-light-green);
}

/* Adding the checkmark */
.statCheckbox:checked + label::before {
  content: '✓';
  text-align: center;
  color: var(--clappy-light-green);
  background: var(--clappy-dark-green);
  border-color: var(--clappy-dark-green);
}

.intervention-marker {
  position: absolute;
  height: 100%;
  width: 30px;
  border-radius: 3px;
  top: 0;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10; /* Ensures interventions are above productivity segments */
}

.timelineBar {
  position: relative;
  display: flex;
  height: 30px;
  border-radius: 4px;
  background-color: var(--clappy-uncertain-grey);
}

.timeline-labels {
  position: relative;
  display: flex;
  margin-top: 5px;
  height: 20px;
}

.time-label {
  position: absolute;
  transform: translateX(-50%);
  font-size: 10px;
  color: var(--clappy-dark-green);
  white-space: nowrap;
}

.graph-view-custom-tooltip-container {
  background-color: white;
  padding: 10px;
  border: #ccc 1px solid;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.graph-view-custom-tooltip-label {
  margin: 0 0 5px 0;
}

.graph-view-custom-tooltip-intro {
  margin: 0;
  font-weight: bold;
}

.graph-view-custom-tooltip-value {
  margin: 5px 0 0 0;
  color: color;
  font-size: '12px';
}
