/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
#popup {
  width: 100px;
  height: 500px;
  position: fixed;
  top: 100px;
  right: -200px;
  flex-direction: column;
  align-items: flex-end;
  transition: right 0.5s ease;
  display: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#popup.visible {
  right: 0px;
  transition: right 0.5s ease;
}

#popup:hover .hover-row {
  display: flex;
  visibility: visible;
}

#hover-rows {
  display: flex;
  flex-direction: column;
}

.hover-row {
  padding: 0 20px 10px 0;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  color: #3F5F13;
}

.hover-row-no-display {
  display: none;
}

.hover-row > span { 
  margin: 0 10px;
  cursor: pointer;
  background-color: #EEFAB8;
  text-align: center;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 5px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-row > button {
  width: 20px;
  height: 20px;
  padding: 15px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEFAB8;
  border-color: #3F5F13;
}

.hover-row >button:hover {
  cursor: pointer;
}

#speech-bubble {
  position: absolute;
  top: 140px;
  right: 100px;
  background-color: #EEFAB8;
  border: 2px solid #3F5F13; /* Added border width */
  color: #3F5F13;;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  min-width: 120px;
  max-width: 250px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  box-sizing: border-box;
}

/* Triangle part of the speech bubble */
#speech-bubble::after {
  content: '';
  position: absolute;
  top: 30px;
  right: -16px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #EEFAB8;
}

#main-character-image {
  position: absolute;
  top: 146px;
}

#text-input-container {
  position:absolute;
  top: 220px;
  right: 110px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#text-input-container > input {
  width: 220px;
  height: 30px;
  border: 2px solid #EEFAB8;
  border-radius: 10px;
  padding: 3px 10px;
  background-color: #3F5F13;
  color: #EEFAB8;
}

#text-input-container > input:focus {
  outline: none;
}

#text-input-container > input::placeholder {
  color: #3F5F13;
}

#text-input-container > button {
  font-weight:bold;
  border: 2px solid #EEFAB8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3F5F13;
  color: #EEFAB8;
}